"<events nextDelay=\"None\" nextDeadline=\"None\"  isAccepting =\"True\" currentTime =\"2024-01-15T17:32:25.0392488+00:00\"  currentPhase =\"\" >
<event id=\"Activity0\" included=\"true\" enabled=\"true\" pending=\"false\" EffectivelyPending=\"false\" EffectivelyIncluded=\"true\" executed=\"false\" fullPath=\"Activity0\" roles=\"home care worker\" groups=\"\" description=\"\" label=\"Arrives at the home\" eventType=\"\" phases=\"\" deadline=\"\" sequence=\"1\" parent=\"\" type=\"\" referId=\"\" ><eventTypeData>
</eventTypeData>
    </event> ¨
    <event id=\"Activity3\" included=\"true\" enabled=\"true\" pending=\"false\" EffectivelyPending=\"false\" EffectivelyIncluded=\"true\" executed=\"false\" fullPath=\"Activity3\" roles=\"elderly person\" groups=\"\" description=\"\" label=\"The elderly person is already out of bed\" eventType=\"\" phases=\"\" deadline=\"\" sequence=\"4\" parent=\"\" type=\"\" referId=\"\" >
    <eventTypeData>
    </eventTypeData>
    </event> 
    <event id=\"Activity5\" included=\"true\" enabled=\"true\" pending=\"false\" EffectivelyPending=\"false\" EffectivelyIncluded=\"true\" executed=\"false\" fullPath=\"Activity5\" roles=\"elderly person\" groups=\"\" description=\"\" label=\"The elderly person states it is not necessary to be helped to the toilet\" eventType=\"\" phases=\"\" deadline=\"\" sequence=\"6\" parent=\"\" type=\"\" referId=\"\" ><eventTypeData></eventTypeData></event> <event id=\"Activity6\" included=\"true\" enabled=\"true\" pending=\"false\" EffectivelyPending=\"false\" EffectivelyIncluded=\"true\" executed=\"false\" fullPath=\"Activity6\" roles=\"elderly person\" groups=\"\" description=\"\" label=\"There are dirty dishes\" eventType=\"\" phases=\"\" deadline=\"\" sequence=\"7\" parent=\"\" type=\"\" referId=\"\" ><eventTypeData></eventTypeData></event> </events>"